<%= render 'components/headers/header' do %>
  <%= render 'components/modals/menu_modal', title: "Hello", trigger: capture { %>
    <a href="#" data-action="click->modal#open" class="icon-btn">
     <%= render 'icons/options', classes: "h-5 w-5" %>
   </a>
  <% }, options: capture { %>
    <%= link_to "Edit account", edit_user_registration_path, class: "btn-modal" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn-modal destroy" %>
  <% } %>
<% end %>
<%= render 'components/layouts/container', classes: 'flex items-center flex-col px-2' do %>
  <div class="flex items-center flex-col mb-4">
    <%= render 'components/avatar', classes: "avatar-xl mb-4" %>
    <h1 class="text-xl font-bold"><%= @user.name.full %></h1>
    <p class="text-gray-400 text-sm mb-4"><%= @user.formatted_username %></p>
    <button class="btn btn-sm btn-black">Follow</button>
  </div>
  <div class="flex items-center w-full">
    <%= link_to 'Pins', '#', class:"tab active" %>
    <%= link_to 'Boards', '#', class:"tab" %>
  </div>
<% end %>
