<%= render 'components/headers/header' do %>
  <%= render 'components/modals/menu_modal', title: "Hello", trigger: capture { %>
    <a href="#" data-action="click->modal#open" class="icon-btn">
     <%= render 'icons/options', classes: "h-5 w-5" %>
   </a>
  <% }, options: capture { %>
    <%= link_to "Edit account", edit_user_registration_path, class: "btn-modal" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn-modal destroy" %>
  <% } %>
<% end %>
<%= render 'components/layouts/container', classes: 'flex items-center flex-col px-2 pb-4' do %>
  <div class="flex items-center flex-col mb-4">
    <%= render 'components/avatar', classes: "avatar-xl mb-4" %>
    <h1 class="text-xl font-bold"><%= @user.name.full %></h1>
    <p class="text-gray-400 text-sm mb-4"><%= @user.formatted_username %></p>
    <button class="btn btn-sm btn-black">Follow</button>
  </div>
<% end %>
<div class="max-w-7xl px-1 md:px-4 pb-24 mx-auto">
  <div data-controller="tabs" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t">
    <ul class="list-reset flex border-b">
      <li class="-mb-px mr-1" data-tabs-target="tab" data-action="click->tabs#change">
        <a class="bg-white inline-block py-2 px-4 text-gray-500 hover:text-gray-700 font-semibold no-underline" href="#">Pins</a>
      </li>
      <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
        <a class="bg-white inline-block py-2 px-4 text-gray-500 hover:text-gray-700 font-semibold no-underline" href="#">Boards</a>
      </li>
    </ul>

    <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel">
      <%= render 'pins/pins', pins: @user.pins %>
    </div>

    <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel">
      <%= render 'boards/boards', boards: @user.boards %>
    </div>

    <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/y3niFzo5VLI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
