<div data-controller="modal">
  <!-- yield must contain data-action="click->modal#open" -->
  <%= link_to '#', data: {action: "click->modal#open"}, class:'btn btn btn-white flex items-center shadow border border-white hover:shadow-lg' do %>
    <%= render 'icons/bookmark', classes: 'stroke-current w-4 h-4 mr-1' %>
    Save
  <% end %>

  <!-- Modal Container -->
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-end md:items-center justify-center bg-gray-900 bg-opacity-5" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-h-screen w-full max-w-lg relative p-2 lg:p-0">
      <!-- Modal Card -->
      <div class="m-1 rounded shadow">
        <div class="rounded overflow-hidden mb-2">
      		<h4 class="w-full p-2 bg-white border-b border-gray-200 text-center font-medium">Save to board</h4>
          <div class="max-h-96 w-full overflow-scroll">
          	<div class="bg-white p-2 pb-1">
          		<h4 class="text-xs text-primary-500">Your boards</h4>
          	</div>
	          <% current_user.boards.each do |board| %>
	            <%= link_to board_pin_saves_path(board, pin),
                      method: :post,
                      data: {
                        controller: 'save',
                        action: 'click->save#save',
                        save_id_value: pin.id,
                        save_url_value: board_pin_saves_path(board, pin, format: :json),
                      },
                      class: "w-full p-2 bg-white hover:bg-gray-100 border-b border-gray-200 block flex items-center" do %>
	            	<div class="rounded h-10 w-10 overflow-hidden mr-2 bg-gray-200 border border-white">
	            		<%= cl_image_tag board.pins.first.photos.first.key, height: 100, width: 100, crop: :fill, class: 'object-cover h-10 w-10' %>
	            	</div>
	            	<div>
	            		<h4 class="mb-0"><%= board.name %></h4>
	            		<p class="text-xs text-gray-400"><%= board.pins.count %> pins</p>
	            	</div>
	            <% end %>
	          <% end %>
	        </div>
        </div>
        <button class="w-full p-4 py-2 bg-white text-center rounded text-gray-400 hover:text-gray-900 font-medium" data-action="click->modal#close">Cancel</button>
      </div>
    </div>
  </div>
</div>