<% if user_signed_in? %>
  <div class="w-full bg-white border-t flex items-center justify-center h-14 fixed bottom-0 left-0" style="z-index: 999">
    <%= link_to authenticated_root_path, class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/home", classes: "h-6 w-6" %>
    <% end %>
    <%= link_to search_path, class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/search", classes: "h-6 w-6" %>
    <% end %>
    <%= link_to '#', class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/plus", classes: "h-6 w-6" %>
    <% end %>
    <%= link_to profile_path(current_user), class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/profile", classes: "h-6 w-6" %>
    <% end %>
  </div>
<% end %>