<div class="flex h-screen w-screen pb-14" data-controller='sidebar' data-sidebar-active-classes-value="w-full lg:w-1/3">
  <div class="w-full flex-grow-1 overflow-scroll h-full">
    <%= render 'components/headers/header' do %>
      <%= render 'components/modals/menu_modal', title: "Board options", trigger: capture { %>
        <a href="#" data-action="click->modal#open" class="icon-btn">
         <%= render 'icons/options', classes: "h-5 w-5" %>
       </a>
      <% }, options: capture { %>
        <%= link_to "Edit board", '#', class: "btn-modal" %>
        <%= link_to "Share", '#', class: "btn-modal" %>
        <%= link_to "Delete", '#', method: :delete, class:"btn-modal destroy" %>
      <% } %>
    <% end %>
    <%= render 'components/layouts/container', classes: 'flex items-center h-auto flex-col px-2 pb-8' do %>
      <h1 class="text-center mb-2"><%= @board.name %></h1>
      <%= render 'components/avatar', classes: "avatar-xs mr-2", image_path: cl_image_path(@board.owner.photo.key) %>
      <%= link_to @board.owner.name.full, profile_path(@board.owner), class: 'text-center font-semibold text-sm mb-4' %>
      <%= link_to 'Show map', '#', class:'btn btn-md btn-black btn-wide btn-sm-text', data: {sidebar_target: 'show', action: 'click->sidebar#show'} %>
      <%= link_to 'Hide map', '#', class:'btn btn-md btn-black btn-wide btn-sm-text', data: {sidebar_target: 'hide', action: 'click->sidebar#hide'} %>
    <% end %>

    <%= render 'components/layouts/wide_container' do %>
      <div class="px-1">
        <%= render 'pins/pins', pins: @board.pins %>
      </div>
    <% end %>
  </div>
  <!-- sidebar -->
  <div class="h-full w-0 flex-shrink-0 overflow-hidden" data-sidebar-target="sidebar">
    <div data-controller="map"
            data-map-mapbox-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-search-value="<%= location_search_url(:format => :json) %>"
            data-map-locations-value="<%= @json_locations %>"
            data-map-update-on-move-value="false"
            class="relative h-full">
      <div data-map-target="container"
            class="w-full h-full bg-gray-100"></div>
      <div data-map-target="search"
            class="absolute left-1/2 top-0 transform -translate-x-1/2 w-full max-w-xl p-2 md:p-4 flex justify-center"></div>
      <div class="absolute top-4 left-4">
        <%= link_to '#', class:'icon-btn icon-btn-lg white lg:hidden', data: {sidebar_target: 'hide', action: 'click->sidebar#hide'} do %>
          <%= render 'icons/arrow_left' %>
        <% end %>
      </div>
    </div>
  </div>
</div>