<% number_of_pins = @location.pins.count %>
<%= turbo_frame_tag dom_id_for_records(@location, prefix:"popup"), target: "_top" do %>
  <%= link_to location_path(@location), class:'relative' do %>
    <div class="aspect-h-6 aspect-w-9 w-56">
      <div class="grid grid-cols-3 grid-rows-2 gap-0.5 rounded-md overflow-hidden">
        <!-- ... -->
        <div class="row-span-2 col-span-2 bg-gray-100">
          <%= cl_image_tag(@location.pins.first.photos.first.key, class: 'object-cover h-full w-full') if number_of_pins >= 1 %>
        </div>
        <div class="h-full w-full row-span-1 bg-gray-100">
          <%= cl_image_tag(@location.pins.second.photos.first.key, class: 'object-cover h-full w-full') if number_of_pins >= 2 %>
        </div>
        <div class="h-full w-full row-span-1 bg-gray-100">
          <%= cl_image_tag(@location.pins.third.photos.first.key, class: 'object-cover h-full w-full') if number_of_pins >= 3 %>
        </div>
      </div>
    </div>
    <p class="text-xs text-white rounded-full inline-flex items-center absolute top-2 left-2 backdrop-filter backdrop-blur bg-black bg-opacity-50 p-1 px-2 border border-white">
      <%= render 'icons/pin', classes: 'h-2.5 w-2.5 stroke-current inline mr-0.5' %>
      <%= @location.pins.count %>
    </p>
    <div class="w-56 py-1.5 text-center">
      <h4 class="font-semibold line-clamp-1 text-sm leading-tight mb-0.5"><%= @location.name %></h4>
      <h6 class="text-gray-400 text-xs line-clamp-1"><%= @location.city %>, <%= @location.state_code %>, <%= @location.country %></h6>
    </div>
  <% end %>
<% end %>